{%load static%} {% for feed in feeds %}

<div class="central-meta item">
  <div class="user-post">
    <div class="friend-info">
      <figure>
        <img alt="" src="{% static 'images/resources/friend-avatar10.jpg' %}" />
      </figure>
      <div class="friend-name">
        <ins><a title="" href="time-line.html">{{feed.user.username}}</a></ins>
        <span>published: june,2 2018 19:PM</span>
      </div>
      <div class="description">
        <p>{{feed.feed_text}}</p>
      </div>
    </div>
    {% include 'wink_landing/comment.html'%}
  </div>
</div>

{% endfor %}
